@import "http://propeller.in/components/range-slider/css/nouislider.min.css";
@import "http://propeller.in/components/range-slider/css/range-slider.css";
header {
  display: flex;
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  height: 100px; }

.header-container {
  display: flex;
  margin: 0 auto;
  align-self: center;
  width: 1150px;
  height: 51px;
  align-items: center; }
  .header-container a {
    text-decoration: none; }

.brand {
  font-family: Lato;
  color: #222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  padding: 13px; }

.brand-red {
  font-family: Lato;
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  line-height: 32px; }

.drop-down {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  margin-left: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .drop-down span {
    font-family: Lato;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px; }

.dropdown-header {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px; }

.dropdown-divider {
  width: 90%;
  margin: 0 auto; }

.drop-down-menu > a {
  color: #4f4f4f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px; }

#search-field {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 317px;
  height: 38px;
  padding-left: 15px;
  margin-left: -1px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  outline: none;
  padding-right: 10px; }

.search-button {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 37px;
  height: 38px;
  margin-left: -1px; }

.cart {
  display: flex;
  margin-left: 349px;
  margin-right: 26px; }

.account {
  border: none;
  background-color: #f16d7f;
  width: 130px;
  height: 38px;
  font-family: Lato;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.navigation-bar {
  background-color: #ffffff; }

.menu {
  display: flex;
  width: 720px;
  margin: 0 auto;
  justify-content: space-between; }
  .menu a {
    display: block;
    padding: 10px 19px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Lato;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px; }
  .menu li {
    padding-bottom: 4px; }
    .menu li:hover {
      border-bottom: 4px solid #ef5b70;
      padding-bottom: 0; }

.active {
  border-bottom: 4px solid #ef5b70;
  margin-bottom: -4px; }

.arrivals {
  background-color: #f8f3f4;
  height: 148px;
  display: flex;
  align-items: center; }

.arrival-container {
  display: flex;
  margin: 0 auto;
  width: 1150px;
  justify-content: space-between; }

.left-text {
  font-family: Lato;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase; }

.right-text {
  font-family: Lato;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase; }
  .right-text span {
    font-family: Lato;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }

.content {
  width: 1150px;
  display: flex;
  margin: 59px auto 0;
  justify-content: space-between; }

.categories {
  display: flex;
  flex-direction: column; }
  .categories a {
    text-decoration: none; }

.categories-menu {
  width: 243px;
  height: 37px;
  margin-top: 18px;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .categories-menu:first-child {
    margin: 0; }
  .categories-menu p {
    font-family: Lato;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 16px; }
  .categories-menu i {
    color: #706e6f; }

.border {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ef5b70;
  width: 5px;
  height: 37px; }

.category-items {
  margin: 22px 0 0 17px; }
  .category-items a {
    display: block;
    font-family: Lato;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px; }
  .category-items li:hover a {
    color: #ef5b70; }

.products-container {
  margin-left: 49px; }

.filter {
  display: flex;
  justify-content: space-between; }
  .filter .row-margin {
    margin-bottom: 13px; }
  .filter h2 {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .filter .trending {
    width: 177px; }
    .filter .trending .bordered {
      border-right: 1px solid #6f6e6e;
      border-left: 1px solid #6f6e6e; }
    .filter .trending .trending-items > a {
      color: #6f6e6e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: none;
      padding: 0;
      text-align: center; }
      .filter .trending .trending-items > a:hover {
        color: #f16d7f; }
  .filter .size {
    width: 235px; }
    .filter .size label {
      display: flex;
      align-items: center;
      color: #6f6e6e;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-transform: uppercase;
      padding: 0; }
    .filter .size input {
      margin-right: 9px; }
  .filter .price {
    width: 250px; }
    .filter .price .noUi-connect,
    .filter .price .noUi-handle::before,
    .filter .price .noUi-handle-lower,
    .filter .price .noUi-handle-upper,
    .filter .price .noUi-tooltip,
    .filter .price .pmd-range-slider.noUi-horizontal .noUi-handle-upper .noUi-tooltip::before,
    .filter .price .pmd-range-slider.noUi-horizontal .noUi-handle-lower .noUi-tooltip::before {
      background: #f16d7f; }
    .filter .price .slider-price {
      display: flex;
      justify-content: space-between;
      margin-top: 21px; }
      .filter .price .slider-price p {
        color: #6f6e6e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; }

.sort {
  min-height: 50px;
  background-color: #f3f3f3;
  margin-top: 42px;
  margin-bottom: 48px;
  display: flex;
  align-items: center; }
  .sort .sorting {
    display: flex;
    margin-left: 9px; }
    .sort .sorting > span {
      display: block;
      color: #6f6e6e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      width: 67px;
      height: 28px;
      text-align: center; }
    .sort .sorting .sorting-button {
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      color: #6f6e6e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      height: 28px;
      margin-left: -1px;
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .sort .sorting .dropdown__sort {
      width: 87px; }
    .sort .sorting .dropdown__show {
      width: 64px; }
    .sort .sorting .sort-menu > a {
      color: #4f4f4f;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.35px; }

.products {
  display: flex;
  flex-wrap: wrap;
  min-height: 1163px;
  margin-bottom: 43px;
  justify-content: space-between; }

.product {
  width: 263px;
  height: 375px;
  transition: box-shadow .5s;
  position: relative; }
  .product .thinner {
    opacity: 0;
    background-color: rgba(58, 56, 56, 0.83);
    width: 263px;
    height: 281px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: opacity .5s; }
    .product .thinner:hover {
      opacity: 0.7; }
    .product .thinner .thinner-container {
      width: 123px;
      height: 78px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      margin-top: 35%; }
      .product .thinner .thinner-container .thinner-cart {
        border: 1px solid #ffffff;
        border-radius: 3px;
        box-sizing: border-box;
        color: #fff;
        width: 100%;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 7px;
        transition: all .5s; }
        .product .thinner .thinner-container .thinner-cart i {
          transform: scale(1.5); }
        .product .thinner .thinner-container .thinner-cart .thinner-text {
          font-family: Lato;
          color: #ffffff;
          font-size: 13px;
          font-weight: 700;
          transition: color .5s; }
        .product .thinner .thinner-container .thinner-cart:hover {
          color: #f16d7f;
          border: 1px solid #f16d7f; }
          .product .thinner .thinner-container .thinner-cart:hover p {
            color: #f16d7f; }
      .product .thinner .thinner-container .thinner-social {
        display: flex;
        justify-content: space-between;
        width: 100%; }
        .product .thinner .thinner-container .thinner-social a {
          transition: all 0.5s; }
        .product .thinner .thinner-container .thinner-social .thinner-retweet {
          border: 1px solid #ffffff;
          border-radius: 3px;
          box-sizing: border-box;
          width: 47%;
          height: 39px;
          display: flex;
          align-items: center;
          margin-top: 35%;
          justify-content: space-around;
          color: #fff; }
        .product .thinner .thinner-container .thinner-social .thinner-like {
          border: 1px solid #ffffff;
          border-radius: 3px;
          box-sizing: border-box;
          width: 47%;
          height: 39px;
          display: flex;
          align-items: center;
          margin-top: 35%;
          justify-content: space-around;
          color: #fff; }
        .product .thinner .thinner-container .thinner-social a:hover {
          color: #f16d7f;
          border: 1px solid #f16d7f; }
  .product .product-name {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 19px 0 17px 15px; }
  .product .price {
    margin-left: 15px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .product:hover {
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }
  .product a {
    text-decoration: none; }

.product-navigation {
  max-width: 1150px;
  display: flex;
  margin: 0 auto 110px;
  padding-left: 292px;
  justify-content: space-between; }
  .product-navigation .pagination {
    width: 261px;
    height: 44px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex; }
    .product-navigation .pagination a {
      width: 26.1px;
      height: 44px;
      text-decoration: none;
      color: #c4c4c4;
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      line-height: 26px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .product-navigation .pagination a:hover {
        color: #ef5b70; }
        .product-navigation .pagination a:hover i {
          color: #ef5b70; }
  .product-navigation .view-all button {
    width: 150px;
    height: 44px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px; }

.adversiting {
  width: 100%;
  height: 341px;
  background-color: #222224; }
  .adversiting .adversiting-icons {
    display: flex;
    width: 825px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 89px; }
  .adversiting .adversiting-about {
    display: flex;
    width: 1150px;
    margin: 32px auto 0; }
    .adversiting .adversiting-about h2 {
      text-align: center;
      color: #fbfbfb;
      font-family: Lato;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px; }
    .adversiting .adversiting-about p {
      color: #fbfbfb;
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
      line-height: 23.95px;
      letter-spacing: 0.35px;
      text-align: center; }

.subscribe {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 1600px; }

.overlay {
  position: absolute;
  left: 0;
  top: 0; }
  .overlay img {
    height: 100%; }

.center-delimiter {
  background-color: #ffffff;
  width: 1px;
  height: 438px;
  left: 50%;
  position: absolute; }

.info {
  display: flex;
  position: absolute;
  top: 111px;
  left: 230px; }

.info-text {
  font-family: Lato;
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  width: 390px;
  align-self: center;
  margin-left: 28px; }

.contact {
  position: absolute;
  top: 95px;
  left: 113px; }

.info-name {
  font-family: Lato;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px; }

.info-signature {
  font-family: Lato;
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px; }

.slider-bar {
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin-top: 41px; }
  .slider-bar div {
    background-color: #d6d6d6;
    width: 38px;
    height: 4px; }
  .slider-bar .active {
    background-color: #f16d7f;
    width: 38px;
    height: 4px; }

.subscribe-text {
  position: absolute;
  top: 148px;
  right: 377px;
  height: 41px; }

.subscribe-title {
  text-transform: uppercase;
  font-family: Lato;
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
  text-align: center; }

.subscribe-description {
  text-transform: uppercase;
  font-family: Lato;
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.email-container {
  display: flex;
  position: absolute;
  right: 17%;
  top: 250px;
  vertical-align: center; }

#subscribe-email {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #e1e1e1;
  width: 334px;
  height: 46px;
  box-sizing: border-box;
  padding: 15px;
  font-family: Lato;
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  border: none;
  outline: none; }

.subscribe-button {
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 104px;
  height: 46px;
  border: none;
  font-family: Lato;
  margin-left: -1px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400; }

@media screen and (max-width: 1600px) {
  .subscribe {
    width: 100%; }
  .info {
    left: 12%;
    top: 22%; }
  .subscribe-text {
    top: 22%;
    right: 22%; }
  .email-container {
    top: 50%;
    right: 14%; } }

.pre-footer {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: 109px auto 89px; }

.shop-info {
  display: flex;
  flex-direction: column;
  width: 390px; }

.logo {
  display: flex;
  height: 51px; }

.about-text {
  margin-top: 29px; }

.about {
  font-family: Lato;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left; }

.about-title {
  font-family: Lato;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 43px; }

.about-links a {
  font-family: Lato;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  text-decoration: none; }
  .about-links a:hover {
    color: #f16d7f; }

footer {
  background-color: #e6e6e6;
  height: 79px;
  width: 100%; }

.footer-content {
  max-width: 1150px;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

.copyright {
  font-family: Lato;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px; }

.social-networks {
  display: flex; }
  .social-networks a {
    text-decoration: none;
    color: #b5b5b5; }

.social-network {
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .5s; }
  .social-network:hover {
    background-color: #f16d7f; }
