extends layout

block css
	link(rel='stylesheet', type='text/css', href='../css/index.css')
block content
	.slider
		img(src='img/slider.jpg', alt='Slider')
	.offers
		.for-men
			a(href='./product.html')
				.stock
					span.offer hot deal
					br
					span.category for man
				img(src='img/for-men.jpg', alt='')
		.for-women
			a(href='#')
				img(src='img/for-women.jpg', alt='')
				.stock
					span.offer 30% offer
					br
					span.category woman
		.accesories
			a(href='#')
				img(src='img/accesories.jpg', alt='')
				.stock
					span.offer luxirous &amp; trendy
					br
					span.category accesories
		.for-kids
			a(href='#')
				img(src='img/for-kids.jpg', alt='')
				.stock
					span.offer new arrivals
					br
					span.category for kids
	p.featured-items Featured items
	p.featured-description Shop for items based on what we featured in this week
	.items
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-1.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-2.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-3.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-4.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-5.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-6.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-7.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
		.item
			a(href='#')
				.thinner
					.thinner-cart
						img(src='img/thinner-cart.png', alt='')
						p.thinner-text Add to Cart
				img(src='img/item-8.jpg', alt='')
				p.item-title mango people t-shirt
				p.price $52.00
	button.all-product
		| Browse All Product 
		img(src='img/arrow.png', alt='')
	.adversiting
		a(href='#')
			img(src='img/adversiting-background.png', alt='')
			.adversiting-image
				img(src='img/adversiting.png', alt='')
			.adversiting-text
				p.adversiting-percent
					| 30% 
					span.adversiting-offer offer
				p.adversiting-description for women
			.adversiting-about-icons
				img(src='img/delivery.png', alt='')
				img(src='img/sales.png', alt='')
				img(src='img/assuranse.png', alt='')
			.adversiting-about
				h2 Free Delivery
				br
				p
					| Worldwide delivery on all. Authorittively morph next-generation innovation with extensive models.
				h2 Sales &amp; discounts
				br
				p
					| Worldwide delivery on all. Authorittively morph next-generation innovation with extensive models.
				h2 Quality assuranse
				br
				p
					| Worldwide delivery on all. Authorittively morph next-generation innovation with extensive models.
